<section class="content">
  <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
      <div class="col col-12 col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Employee Details</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="" [formGroup]="employee">
            <div class="card-body">
              <div class="form-group">
                <label for="txtId">Employee ID</label>
                <input
                  [readonly]="tablelick"
                  type="text" class="form-control" formControlName="id" id="txtId" placeholder="Enter Employee ID">
              </div>
              <div class="form-group">
                <label for="txtName">Employee Name</label>
                <input
                  type="text" class="form-control" formControlName="employee_name" id="txtName"
                  placeholder="Enter Employee Name">
              </div>
              <div class="form-group">
                <label
                  for="txtSalary">Employee salary</label>
                <input
                  type="text" class="form-control" formControlName="employee_salary" id="txtSalary"
                  placeholder="Enter Employee Address">
              </div>
              <div class="form-group">
                <label
                  for="txtage">Employee age</label>
                <input
                  type="text" class="form-control" formControlName="employee_age" id="txtage"
                  placeholder="Enter Employee age">
              </div>
              <div class="form-group">
                <label for="image">Employee Image</label>
                <input
                  formControlName="profile_image" type="file" class="form-control-file" id="image">
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="employee.touched && employee.invalid"> You must Fill All the Field
              <div *ngIf="employee.get('id').invalid && employee.get('id').touched">Id reqired</div>
              <div *ngIf="employee.get('employee_name').invalid && employee.get('employee_name').touched">name Reqired
              </div>
              <div *ngIf="employee.get('employee_salary').invalid && employee.get('employee_salary').touched">Employee
                salary reqired
              </div>
              <div *ngIf="employee.get('employee_age').invalid && employee.get('employee_age').touched">Employee Age
                reqired
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button (click)="saveCustomer()" type="submit" class="btn btn-primary" id="btnSubmit">{{save}}</button>
              <button (click)="clearClick()" type="reset" class="btn btn-warning" id="btnClear">Clear</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <div class="col col-12 col-md-6 scrall"  >
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Search</span>
          </div>
          <input (keyup)="searchEmployee($event)" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div id="profile" class="card card-primary" *ngFor="let employee of employees">
          <div class="card-header">
          <span class="float-left">
               <img (click)="tableClick(employee)" class="card-img-top rounded-circle" src="{{employee.profile_image}}" alt="proPic">
          </span>
            <span class="float-left">
              <h4 id="proName" (click)="tableClick(employee)">{{employee.employee_name}}</h4>
              <p id="empId">id: {{employee.id}}</p>
            </span>
            <span id="edit" class="float-right" (click)="btnDeleteClick($event,employee)"><h5>...</h5></span>
          </div>
          <div class="card-body">
            <div><span>Salary :</span>{{employee.employee_salary | currency:'Rs :'}}</div>
            <div><span>Age    :</span>{{employee.employee_age}}</div>
        </div>
      </div>
    </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

