.my-custom-scrollbar {
  position: relative;
  height: 590px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.form-control.ng-touched.ng-invalid{
  border: 1px solid red;
}

.content{
  background-color: cornsilk;
}
